@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="() => ShowDialog = true" class="btn btn-info">Mostrar Modal</button>
<ModalDialog Show="ShowDialog">
    <Header>
        <h4>Hello! My Name is...</h4>
    </Header>
    <Body>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <img src="/Images/yo.png" />
                </div>
                <div class="col">
                    <h5>Abigail Huerta</h5>
                    <p>Desarrolladora de Software con tecnologías .NET</p>
                    <p>Colaboradora en TI Capacitación</p>
                </div>
            </div>
        </div>
    </Body>
    <Footer>
        Seamos amigos en FaceBook <strong> @@abigailhusa</strong>
    </Footer>
</ModalDialog>

@code{
    public bool ShowDialog { get; set; }
}